body {
    inear-grandient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url('./images/Фон1.webp');
background-size: cover;

h1,h3 {
    text-align: center;
    width: 80%;
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: bold;
}
#Ветерок {
    width: 90%;
    height: auto;
}



button{
    display: none;
    vasibility: hidden;
    border-radius: 15px;
}

#intro {
    margin-top: 15px;
}

.content {
    display: hidden;
}
