body {
    background-color: url('./images/Фон1.webp');
}

h1,h3 {
    text-align: center;
    width: 80%;
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: bold;
}
#Ветерок {
    width: 90%;
    height: auto;
}



button{
    display: none;
    vasibility: hidden;
    border-radius: 15px;
}

#intro {
    margin-top: 15px;
}

.content {
    display: none;
}
